.container {
    margin: 50px auto;
    width: 450px;
    border: solid 3px black;
    border-radius: 15px;
    background-color: rgb(196, 194, 194);
}

.avatar {
    background-color: rgb(18, 17, 17);
    width: 180px;
    clip-path: circle(50%);
    margin: 0 auto;
}

.mainInfo {
    padding: 30px 0;
    background-color: white;
    border-radius: 12px 12px 0 0;
}

.list {
    display: flex;
}

.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 3px rgb(94, 92, 92);
    border-left: solid 3px rgb(94, 92, 92);
    flex-basis: 100%;
    padding:  10px 0;
}

.listItem:first-child {
    border-left: none;
}

.name {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
}

.paragraph {
    color: rgb(131, 125, 125);
    text-align: center;
    margin-top: 10px;
}

.number {
    margin-top: 10px;
    font-weight: bold;
}
