table {
  margin: 60px auto;
  width: 768px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding-left: 80px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: lightgray;
}

thead {
  background-color: grey;
}

.text {
  margin: auto;
}
