.table {
  margin: 60px auto;
  width: 768px;
}

.table,
.rows,
.cell {
  border: 1px solid black;
  border-collapse: collapse;
}

.thead {
  background-color: grey;
}

.cell {
  width: 286px;
  padding-left: 70px;
  text-align: left;
}

.rows:nth-child(even) {
  background-color: lightgray;
}
